<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Regla 1 importada">
                    <match url="^client(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/client.php" />
                </rule>
                <rule name="Regla 2 importada">
                    <match url="^clientutils(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/client.php" />
                </rule>
                <rule name="Regla 3 importada">
                    <match url="^flash_client_error(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/client.php" />
                </rule>
                <rule name="Regla 4 importada">
                    <match url="^me(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/me.php" />
                </rule>
                <rule name="Regla 5 importada">
                    <match url="^Forgot(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/forgot.php" />
                </rule>
                <rule name="Regla 6 importada">
                    <match url="^maintenance(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/maintenance.php" />
                </rule>
                <rule name="Regla 7 importada">
                    <match url="^account/settings(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/settings.php" />
                </rule>
                <rule name="Regla 8 importada">
                    <match url="^community(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/community.php" />
                </rule>
                <rule name="Regla 9 importada">
                    <match url="^articles/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./articles.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 10 importada">
                    <match url="^community/staff(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/team.php" />
                </rule>
                <rule name="Regla 11 importada">
                    <match url="^Precios(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/precios.php" />
                </rule>
                <rule name="Regla 12 importada">
                    <match url="^Luck(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/luck.php" />
                </rule>
                <rule name="Regla 13 importada">
                    <match url="^community/alfas(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/alfas.php" />
                </rule>
                <rule name="Regla 14 importada">
                    <match url="^Referidos(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/referidos.php" />
                </rule>
                <rule name="Regla 15 importada">
                    <match url="^welcome/register(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/register.php" />
                </rule>
                <rule name="Regla 16 importada">
                    <match url="^home/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./perfil.php?p={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 17 importada">
                    <match url="^Tienda(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/store.php" />
                </rule>
                <rule name="Regla 18 importada">
                    <match url="^Tienda=ComprarPlacas(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/buybadges.php" />
                </rule>
                <rule name="Regla 19 importada">
                    <match url="^Tienda=ComprarVIP(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/buyvip.php" />
                </rule>
                <rule name="Regla 20 importada">
                    <match url="^Tienda=ComprarRares(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/buyrares.php" />
                </rule>
                <rule name="Regla 21 importada">
                    <match url="^Tienda=ComprarRespetos(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/buyresp.php" />
                </rule>
                <rule name="Regla 22 importada">
                    <match url="^cacheCheck(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/cacheCheck.php" />
                </rule>
                <rule name="Regla 23 importada">
                    <match url="^account/disconnected(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?logout=true" appendQueryString="false" />
                </rule>
                <rule name="Regla 24 importada">
                    <match url="^logout/(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?logout=true" appendQueryString="false" />
                </rule>
                <rule name="Regla 25 importada">
                    <match url="^Badgedata/badge/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 26 importada">
                    <match url="^habbo-imaging/badge/([^/]+)(|/).gif$" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 27 importada">
                    <match url="^habbo-imaging/badge/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 28 importada">
                    <match url="^inc/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php" />
                </rule>
                <rule name="Regla 29 importada">
                    <match url="^tpl/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php" />
                </rule>
                <rule name="Regla 30 importada">
                    <match url="^tpl/Generic/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php" />
                </rule>
                <rule name="Regla 31 importada">
                    <match url="^tpl/Index/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php" />
                </rule>
                <rule name="Regla 32 importada">
                    <match url="^tpl/Data/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php" />
                </rule>
                <rule name="Regla 33 importada">
                    <match url="^habbo-imaging/avatarimage(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/habbo-imaging/avatar.php" />
                </rule>
                <rule name="Regla 34 importada">
                    <match url="^index(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <rule name="Regla 35 importada">
                    <match url="^forgot(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/forgot.php" />
                </rule>
                <rule name="Regla 36 importada">
                    <match url="^account/password/resetIdentity/9346b03cbb86c009501ce113cb38dce39ebba9c34a6416d8edef5ac544db7dddb5158bf4e86bc09c089a3ed7e87049f144888ef2b45e1a02986bdc8858d82ad0dd460/(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/forgot" />
                </rule>
                   <rule name="Regla 37 importada">
                    <match url="^articles/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./articles.php?id={R:1}" appendQueryString="false" />
                </rule>  
   <rule name="Regla 38 importada">
                    <match url="^articles/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./articles.php?p={R:1}" appendQueryString="false" />
                </rule> 				
				</rules>
        </rewrite>
    </system.webServer>
</configuration>
